`other-primer` document failing to compile

Compile fail...

```console
$ cd other-primer
$ bundle exec metanorma document.adoc
```

Output:
```
[relaton] Info: detecting backends:
[relaton-ogc] ("OGC CDB Core Standard Volume 1") fetching...
[relaton-ogc] ("OGC CDB Core Standard Volume 11") fetching...
[relaton-ogc] WARNING: no match found online for OGC CDB Core Standard Volume 11. The code must be exactly like it is on the standards website.
[relaton-ogc] WARNING: no match found online for OGC CDB Core Standard Volume 1. The code must be exactly like it is on the standards website.
[relaton-ieee] ("IEEE Std 1516") fetching...
[relaton-ieee] ("IEEE Std 1278") fetching...
[relaton-ieee] ("IEEE Std 1516") found IEEE 1516-2010
[relaton-ieee] ("IEEE Std 1278") found IEEE 1278-1993
[relaton-ietf] ("RFC 2616") fetching...
[relaton-ietf] ("RFC 3339") fetching...
[relaton-ietf] ("RFC 2818") fetching...
[relaton-ietf] ("RFC 8288") fetching...
[relaton-ietf] ("RFC 2616") found RFC 2616
[relaton-ietf] ("RFC 8288") found RFC 8288
[relaton-ietf] ("RFC 3339") found RFC 3339
[relaton-ietf] ("RFC 2818") found RFC 2818
[relaton] Simonis, I. does not have a recognised prefix: CN, IEC, IETF, ISO, ITU, NIST, OGC, CC, OMG, UN, W3C, IEEE, IHO, BIPM, ECMA, CIE, BSI, CEN, IANA, 3GPP.
See https://github.com/relaton/relaton/ for instructions on prefixing and wrapping document identifiers to disambiguate them.
[relaton] Simonis, I. does not have a recognised prefix: CN, IEC, IETF, ISO, ITU, NIST, OGC, CC, OMG, UN, W3C, IEEE, IHO, BIPM, ECMA, CIE, BSI, CEN, IANA, 3GPP.
See https://github.com/relaton/relaton/ for instructions on prefixing and wrapping document identifiers to disambiguate them.
[relaton-ogc] ("OGC 14-083r2") fetching...
[relaton-ogc] ("OGC 14-083r2") found 14-083r2
[relaton-ogc] ("OGC 14-084r2") fetching...
[relaton-ogc] ("OGC 14-084r2") found 14-084r2
[relaton] (CF-netCDF3) does not have a recognised prefix: CN, IEC, IETF, ISO, ITU, NIST, OGC, CC, OMG, UN, W3C, IEEE, IHO, BIPM, ECMA, CIE, BSI, CEN, IANA, 3GPP.
See https://github.com/relaton/relaton/ for instructions on prefixing and wrapping document identifiers to disambiguate them.
[relaton-ogc] ("OGC 10-092r3") fetching...
[relaton-ogc] ("OGC 10-092r3") found 10-092r3
Style: Preface is missing!
Metanorma XML Style Warning: (XML Line 000133): Table should have title
Metanorma XML Style Warning: (XML Line 000215): Table should have title
Bibliography: (XML Line 000241): Numeric reference in normative references
Bibliography: (XML Line 000241): Numeric reference in normative references
Numeric reference in normative references
```

"Numeric reference in normative references"

The References are incorrectly being treated as normative. That's because References by default are treated as normative, but this document includes both Normative References and References. If that occurs, I will treat References as informative.

These are the references from the document (15-120r5):

<img width="501" alt="Screenshot 2021-12-21 at 8 06 28 AM" src="https://user-images.githubusercontent.com/11865/146848879-98c32c22-856a-4d25-8f33-673db2661a27.png">

<img width="522" alt="Screenshot 2021-12-21 at 8 07 04 AM" src="https://user-images.githubusercontent.com/11865/146848915-e8a13fc6-3b4c-44e4-a3ca-809978e88a1d.png">

But as we can see these bibliographic sections are not structured in the normal way.

So we should fix them in the template too.

I ran into another problem even after renaming "References" to "Bibliography":

```adoc
[appendix,obligation="informative"]
[bibliography]
== Bibliography

// Typical reference entry (without auto-fetch)
// Reference content will display as written
* [[[Simonis2018,Simonis, I.]]], Standardized Big Data Processing in Hybrid Clouds. In: Proceedings of the 4th International Conference on Geographical Information Systems Theory, Applications and Management - Volume 1: GISTAM, pp. 205–210. SciTePress (2018).

// Automatic reference fetching (auto-fetch)
// To verify the reference lookup syntax for all the supported flavors,
// visit: https://www.metanorma.org/author/topics/building/reference-lookup/#reference-lookup-syntax
* [[[ogc14-083r2,OGC 14-083r2]]], OGC: OGC 14-083r2: Moving Features Encoding Part I: XML Core, 2015

// Disabling auto-fetch
// You can disable auto-fetch by wrapping the identifier into nofetch() -- `nofetch({identifier})`
// (To disable auto-fetch in all references at once, set `no-isobib` attribute at the beginning of the document)
* [[[ogc14-084r2,(nofetch)OGC 14-084r2]]], OGC: OGC 14-084r2: Moving Features Encoding Extension: Simple Comma Separated Values

// Reference entry with user-supplied label (non-auto-fetch)
* [[[ogc11-165r2,(CF-netCDF3)]]], OGC: OGC 11-165r2: CF-netCDF3 Data Model Extension standard, 2012

// Reference entry with user-supplied label (with auto-fetch enabled)
* [[[ogc10-092r3,(NetCDF)OGC 10-092r3]]], OGC: OGC 10-092r3: NetCDF Binary Encoding Extension Standard: netCDF Classic and 64-bit Offset Format, 2011

// Numeric reference entry (with no auto-fetch)
// To use numeric reference system, place a number as identifier
// Any number can be used. All references will be re-sorted and auto-incremented during compilation
* [[[netcdf,1]]], Lawrence Livermore National Laboratory: NetCDF CF Metadata Conventions – http://cfconventions.org/[http://cfconventions.org/]

* [[[acdd,1]]], ESIP: Attribute Convention for Data Discovery (ACDD) – http://wiki.esipfed.org/index.php/
```

There are 7 references.

<img width="858" alt="Screenshot 2021-12-21 at 8 20 55 AM" src="https://user-images.githubusercontent.com/11865/146850018-473175dc-20f2-4b02-9f79-47c98fe37764.png">

Number 4 is not rendered with its tag?

In Metanorma, 

````
// Reference entry with user-supplied label (non-auto-fetch)
* [[[ogc11-165r2,(CF-netCDF3)]]], OGC: OGC 11-165r2: CF-netCDF3 Data Model Extension standard, 2012
````

It has been assumed to date that a user-supplied label overrides the ordinal numbers provided automatically by Metanorma for bibliographies. In fact, that assumption is still there in the recent refactoring out of https://github.com/metanorma/metanorma-bsi/issues/80

I'm going to undo that assumption in OGC, there is going to be case-by-case for this. (I'm pretty sure that override is valid for NIST, for example.)


<img width="855" alt="Στιγμιότυπο 2021-12-30, 17 26 00" src="https://user-images.githubusercontent.com/1911039/147727096-0792689d-baca-4aa1-aa33-80f848e5c8bf.png">


The prefix "OGC" on [4] is consistent with OGC practice on prefixing OGC publications with the publisher and colon. The user supplied label will still turn up in cross-references to CF-netCDF3.

If OGC want user labels to be privileged over publisher while maintaining publisher prefixes, I'll need explicit guidance.

In OGC, there are only two types of reference tags. 

In the Normative references, the user defined reference tag is used. 

In the Bibliography, the reference tag is numbered.  